<div class="container-fluid">
  <div class="row bg-secondary">
    <div class="card w-100">
      <div class="card-body bg-secondary">
        <div class="row">
          <div class="col-10">
            <h5 class="card-title text-white">Used Vehicles for Sale</h5>
          </div>
          <div class="col-2">
            <label class="text-white">Sort By</label>
            <select class="custom-select" [(ngModel)]="sortCriteria" (change)="onSortChange($event)">
              <option *ngFor="let sort of sortData" [ngValue]="sort">{{sort.column}}- {{sort.orderDesc}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 border mt-2 p-0">
      <div class="bg-secondary">
        <h5 class="pl-1 text-white text-center">Filter Results</h5>
      </div>
      <div class="form-group p-1">
        <label>Year</label>
        <select class="custom-select" [(ngModel)]="year" (change)="onYearChange($event)">
          <option *ngFor="let year of yearList" [ngValue]="year.value">{{year.desc}}</option>
        </select>
      </div>
      <div class="form-group p-1">
        <label>Make</label>
        <div *ngFor="let makes of makeList">
          <div class="pl-1">
            <input type="checkbox" [(ngModel)]="makes.id" (change)="onMakeSelect($event,makes)">
            <label class="pl-1">{{makes}}</label>
          </div>
        </div>
      </div>

      <div *ngIf="isShowModel" class="form-group p-1">
        <label>Model</label>
        <div *ngFor="let models of modelList">
          <div class="pl-1">
            <input type="checkbox" [(ngModel)]="models.id" (change)="onModelSelect($event,models)">
            <label class="pl-1">{{models}}</label>
          </div>
        </div>
      </div>

      <div class="form-group p-1">
        <button type="button" class="btn btn-primary" (click)="reset()">Clear All</button>
      </div>
    </div>
    <div class="col-9">
      <div *ngFor="let car of carsList">
        <div class="card flex-row flex-wrap mt-2">
          <div class="card-header border-0 w-50">
            <img class="img-fluid" src="./assets/images/{{car.picture}}" alt="{{car.picture}}">
          </div>
          <div class="card-block w-50 px-2 pt-5">
            <h4 class="card-title">{{car.price | currency}}</h4>
            <p class="card-text">{{car.year}} {{car.make}} {{car.model}}</p>
            <!-- <p class="card-text">{{car.makeName}} {{car.city}} - {{car.phone}}</p> -->
            <div class="row">
              <div class="col-5">Color : {{car.color}}</div>
              <div class="col-7">Transmission : {{car.transmission}}</div>
            </div>
            <div class="row">
              <div class="col-5">Body : {{car.body}}</div>
              <div class="col-7">Drivetrain : {{car.drivetrain}}</div>
            </div>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <button type="button" class="btn btn-primary" (click)="checkAvailability(car)">Check Availability</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spinner-container" *ngIf="isShowSpinner">
    <p-progressSpinner class="spinner-loader"></p-progressSpinner>
  </div>
</div>
