<div class="container-fluid">
  <div class="row bg-secondary">
    <div class="card w-100">
      <div class="card-body bg-secondary">
        <div class="row">
          <div class="col-10">
            <h5 class="card-title text-white">Used Vehicles for Sale</h5>
          </div>
          <div class="col-2">
            <label class="text-white">Sort By</label>
            <select class="custom-select">
              <option value='2019'>Price: highest</option>
              <option value='2018'>Price: lowest</option>
              <option value='pl'>Year: Newest</option>
              <option value='pl'>Year: Oldest</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 border mt-2 p-0">
      <div class="bg-secondary">
        <h5 class="pl-1 text-white text-center">Filter Results</h5>
      </div>
      <div class="form-group p-1">
        <label>Year</label>
        <select class="custom-select">
          <option value='2019'>2019</option>
          <option value='2018'>2018</option>
          <option value='2017'>2017</option>
        </select>
      </div>
      <div class="form-group p-1">
        <label>Make</label>
        <div>
          <input type="checkbox">
          <label>Acura</label>
        </div>
      </div>
      <div class="form-group p-1">
        <button type="button" class="btn btn-primary">Search</button>
      </div>
    </div>
    <div class="col-9">
      <div *ngFor="let car of carsList">
        <div class="card flex-row flex-wrap mt-2">
          <div class="card-header border-0 w-50">
            <img class="img-fluid" src="./assets/images/{{car.picture}}" alt="">
          </div>
          <div class="card-block px-2">
            <h4 class="card-title">{{car.price}}</h4>
            <p class="card-text">{{car.makeYear}} {{car.makeName}} {{car.model}}</p>
            <p class="card-text">{{car.makeName}} {{car.city}} - {{car.phone}}</p>
            <button type="button" class="btn btn-primary mb-1" (click)="checkAvailability(car)">Check Availability</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
